<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<script type="text/javascript" src="/assets/js/lib/d3.v3.min.js"></script>
		<script type="text/javascript" src="/assets/js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/js/visualise.js"></script>
		<link rel="stylesheet" href="/assets/css/visualise.css" />
	</head>
	<body onload="initialize();">
		<select id="dates"/>
		<button type="button">Animate!</button>
	</body>
</html>
